<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do APP</title>
</head>

<body>
    <h1>To Do list</h1>

    <form action="/" method="POST">
        {% csrf_token %}
        <!-- form -->
        {{temp.title}}
        <input type="submit" name="CreateTask">
    </form>

    {% for k in info%}
    <div>
        <a href="{% url 'update_task' k.id %}">Update</a>
        <p>{{ k }}</p>
    </div>

    {% endfor %}

</body>

</html>